@import "Tool.scss";
.mytable {
    @include Table((1,1,1,1,1),8px,8px){
        width:100%;height: 200px;
        .td{
            min-width : 100px;
            background: #aaa;
            transition: background .5s;
            &::hover{
                background: #777;
            }
        }
    }
}

