/* ================
// Suds
// ============= */
.suds {
  position: relative;
  height: 100%; }

.sud {
  position: absolute;
  top: 100%;
  border-radius: 50%; }
  .sud:nth-child(1) {
    left: 59%;
    height: 7.35vmin;
    width: 7.35vmin;
    animation: bubble-up 12.025s 0s infinite linear; }
    .sud:nth-child(1):before {
      animation: sway 5.5125s infinite ease-in-out;
      background: rgba(51, 255, 173, 0.5);
      box-shadow: 3px 3px 3.675vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(2) {
    left: 26%;
    height: 1.875vmin;
    width: 1.875vmin;
    animation: bubble-up 3.8125s 0.05s infinite linear; }
    .sud:nth-child(2):before {
      animation: sway 1.40625s infinite ease-in-out;
      background: rgba(255, 177, 51, 0.5);
      box-shadow: 3px 3px 0.9375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(3) {
    left: 3%;
    height: 2.1vmin;
    width: 2.1vmin;
    animation: bubble-up 4.15s 0.1s infinite linear; }
    .sud:nth-child(3):before {
      animation: sway 1.575s infinite ease-in-out;
      background: rgba(51, 255, 126, 0.5);
      box-shadow: 3px 3px 1.05vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(4) {
    left: 46%;
    height: 4.575vmin;
    width: 4.575vmin;
    animation: bubble-up 7.8625s 0.15s infinite linear; }
    .sud:nth-child(4):before {
      animation: sway 3.43125s infinite ease-in-out;
      background: rgba(51, 245, 255, 0.5);
      box-shadow: 3px 3px 2.2875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(5) {
    left: 14%;
    height: 4.65vmin;
    width: 4.65vmin;
    animation: bubble-up 7.975s 0.2s infinite linear; }
    .sud:nth-child(5):before {
      animation: sway 3.4875s infinite ease-in-out;
      background: rgba(51, 136, 255, 0.5);
      box-shadow: 3px 3px 2.325vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(6) {
    left: 80%;
    height: 3.525vmin;
    width: 3.525vmin;
    animation: bubble-up 6.2875s 0.25s infinite linear; }
    .sud:nth-child(6):before {
      animation: sway 2.64375s infinite ease-in-out;
      background: rgba(255, 61, 51, 0.5);
      box-shadow: 3px 3px 1.7625vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(7) {
    left: 76%;
    height: 5.55vmin;
    width: 5.55vmin;
    animation: bubble-up 9.325s 0.3s infinite linear; }
    .sud:nth-child(7):before {
      animation: sway 4.1625s infinite ease-in-out;
      background: rgba(51, 184, 255, 0.5);
      box-shadow: 3px 3px 2.775vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(8) {
    left: 61%;
    height: 5.475vmin;
    width: 5.475vmin;
    animation: bubble-up 9.2125s 0.35s infinite linear; }
    .sud:nth-child(8):before {
      animation: sway 4.10625s infinite ease-in-out;
      background: rgba(61, 51, 255, 0.5);
      box-shadow: 3px 3px 2.7375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(9) {
    left: 12%;
    height: 2.7vmin;
    width: 2.7vmin;
    animation: bubble-up 5.05s 0.4s infinite linear; }
    .sud:nth-child(9):before {
      animation: sway 2.025s infinite ease-in-out;
      background: rgba(51, 255, 109, 0.5);
      box-shadow: 3px 3px 1.35vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(10) {
    left: 77%;
    height: 2.775vmin;
    width: 2.775vmin;
    animation: bubble-up 5.1625s 0.45s infinite linear; }
    .sud:nth-child(10):before {
      animation: sway 2.08125s infinite ease-in-out;
      background: rgba(75, 255, 51, 0.5);
      box-shadow: 3px 3px 1.3875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(11) {
    left: 74%;
    height: 1.8vmin;
    width: 1.8vmin;
    animation: bubble-up 3.7s 0.5s infinite linear; }
    .sud:nth-child(11):before {
      animation: sway 1.35s infinite ease-in-out;
      background: rgba(255, 167, 51, 0.5);
      box-shadow: 3px 3px 0.9vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(12) {
    left: 5%;
    height: 0.45vmin;
    width: 0.45vmin;
    animation: bubble-up 1.675s 0.55s infinite linear; }
    .sud:nth-child(12):before {
      animation: sway 0.3375s infinite ease-in-out;
      background: rgba(255, 136, 51, 0.5);
      box-shadow: 3px 3px 0.225vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(13) {
    left: 35%;
    height: 0.375vmin;
    width: 0.375vmin;
    animation: bubble-up 1.5625s 0.6s infinite linear; }
    .sud:nth-child(13):before {
      animation: sway 0.28125s infinite ease-in-out;
      background: rgba(170, 255, 51, 0.5);
      box-shadow: 3px 3px 0.1875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(14) {
    left: 6%;
    height: 5.625vmin;
    width: 5.625vmin;
    animation: bubble-up 9.4375s 0.65s infinite linear; }
    .sud:nth-child(14):before {
      animation: sway 4.21875s infinite ease-in-out;
      background: rgba(99, 51, 255, 0.5);
      box-shadow: 3px 3px 2.8125vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(15) {
    left: 89%;
    height: 2.925vmin;
    width: 2.925vmin;
    animation: bubble-up 5.3875s 0.7s infinite linear; }
    .sud:nth-child(15):before {
      animation: sway 2.19375s infinite ease-in-out;
      background: rgba(51, 255, 173, 0.5);
      box-shadow: 3px 3px 1.4625vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(16) {
    left: 77%;
    height: 2.775vmin;
    width: 2.775vmin;
    animation: bubble-up 5.1625s 0.75s infinite linear; }
    .sud:nth-child(16):before {
      animation: sway 2.08125s infinite ease-in-out;
      background: rgba(129, 255, 51, 0.5);
      box-shadow: 3px 3px 1.3875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(17) {
    left: 40%;
    height: 6.75vmin;
    width: 6.75vmin;
    animation: bubble-up 11.125s 0.8s infinite linear; }
    .sud:nth-child(17):before {
      animation: sway 5.0625s infinite ease-in-out;
      background: rgba(51, 255, 92, 0.5);
      box-shadow: 3px 3px 3.375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(18) {
    left: 58%;
    height: 6.225vmin;
    width: 6.225vmin;
    animation: bubble-up 10.3375s 0.85s infinite linear; }
    .sud:nth-child(18):before {
      animation: sway 4.66875s infinite ease-in-out;
      background: rgba(255, 112, 51, 0.5);
      box-shadow: 3px 3px 3.1125vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(19) {
    left: 24%;
    height: 0.9vmin;
    width: 0.9vmin;
    animation: bubble-up 2.35s 0.9s infinite linear; }
    .sud:nth-child(19):before {
      animation: sway 0.675s infinite ease-in-out;
      background: rgba(58, 255, 51, 0.5);
      box-shadow: 3px 3px 0.45vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(20) {
    left: 65%;
    height: 6.3vmin;
    width: 6.3vmin;
    animation: bubble-up 10.45s 0.95s infinite linear; }
    .sud:nth-child(20):before {
      animation: sway 4.725s infinite ease-in-out;
      background: rgba(51, 190, 255, 0.5);
      box-shadow: 3px 3px 3.15vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(21) {
    left: 32%;
    height: 7.35vmin;
    width: 7.35vmin;
    animation: bubble-up 12.025s 1s infinite linear; }
    .sud:nth-child(21):before {
      animation: sway 5.5125s infinite ease-in-out;
      background: rgba(51, 78, 255, 0.5);
      box-shadow: 3px 3px 3.675vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(22) {
    left: 92%;
    height: 1.875vmin;
    width: 1.875vmin;
    animation: bubble-up 3.8125s 1.05s infinite linear; }
    .sud:nth-child(22):before {
      animation: sway 1.40625s infinite ease-in-out;
      background: rgba(197, 255, 51, 0.5);
      box-shadow: 3px 3px 0.9375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(23) {
    left: 4%;
    height: 3.75vmin;
    width: 3.75vmin;
    animation: bubble-up 6.625s 1.1s infinite linear; }
    .sud:nth-child(23):before {
      animation: sway 2.8125s infinite ease-in-out;
      background: rgba(51, 255, 238, 0.5);
      box-shadow: 3px 3px 1.875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(24) {
    left: 25%;
    height: 5.175vmin;
    width: 5.175vmin;
    animation: bubble-up 8.7625s 1.15s infinite linear; }
    .sud:nth-child(24):before {
      animation: sway 3.88125s infinite ease-in-out;
      background: rgba(78, 255, 51, 0.5);
      box-shadow: 3px 3px 2.5875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(25) {
    left: 30%;
    height: 1.05vmin;
    width: 1.05vmin;
    animation: bubble-up 2.575s 1.2s infinite linear; }
    .sud:nth-child(25):before {
      animation: sway 0.7875s infinite ease-in-out;
      background: rgba(51, 255, 255, 0.5);
      box-shadow: 3px 3px 0.525vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(26) {
    left: 54%;
    height: 5.475vmin;
    width: 5.475vmin;
    animation: bubble-up 9.2125s 1.25s infinite linear; }
    .sud:nth-child(26):before {
      animation: sway 4.10625s infinite ease-in-out;
      background: rgba(82, 255, 51, 0.5);
      box-shadow: 3px 3px 2.7375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(27) {
    left: 15%;
    height: 6.675vmin;
    width: 6.675vmin;
    animation: bubble-up 11.0125s 1.3s infinite linear; }
    .sud:nth-child(27):before {
      animation: sway 5.00625s infinite ease-in-out;
      background: rgba(51, 255, 252, 0.5);
      box-shadow: 3px 3px 3.3375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(28) {
    left: 42%;
    height: 3.975vmin;
    width: 3.975vmin;
    animation: bubble-up 6.9625s 1.35s infinite linear; }
    .sud:nth-child(28):before {
      animation: sway 2.98125s infinite ease-in-out;
      background: rgba(51, 153, 255, 0.5);
      box-shadow: 3px 3px 1.9875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(29) {
    left: 70%;
    height: 0.45vmin;
    width: 0.45vmin;
    animation: bubble-up 1.675s 1.4s infinite linear; }
    .sud:nth-child(29):before {
      animation: sway 0.3375s infinite ease-in-out;
      background: rgba(51, 119, 255, 0.5);
      box-shadow: 3px 3px 0.225vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(30) {
    left: 92%;
    height: 4.35vmin;
    width: 4.35vmin;
    animation: bubble-up 7.525s 1.45s infinite linear; }
    .sud:nth-child(30):before {
      animation: sway 3.2625s infinite ease-in-out;
      background: rgba(255, 68, 51, 0.5);
      box-shadow: 3px 3px 2.175vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(31) {
    left: 26%;
    height: 7.05vmin;
    width: 7.05vmin;
    animation: bubble-up 11.575s 1.5s infinite linear; }
    .sud:nth-child(31):before {
      animation: sway 5.2875s infinite ease-in-out;
      background: rgba(255, 99, 51, 0.5);
      box-shadow: 3px 3px 3.525vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(32) {
    left: 9%;
    height: 7.2vmin;
    width: 7.2vmin;
    animation: bubble-up 11.8s 1.55s infinite linear; }
    .sud:nth-child(32):before {
      animation: sway 5.4s infinite ease-in-out;
      background: rgba(139, 255, 51, 0.5);
      box-shadow: 3px 3px 3.6vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(33) {
    left: 6%;
    height: 2.775vmin;
    width: 2.775vmin;
    animation: bubble-up 5.1625s 1.6s infinite linear; }
    .sud:nth-child(33):before {
      animation: sway 2.08125s infinite ease-in-out;
      background: rgba(255, 204, 51, 0.5);
      box-shadow: 3px 3px 1.3875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(34) {
    left: 63%;
    height: 3.075vmin;
    width: 3.075vmin;
    animation: bubble-up 5.6125s 1.65s infinite linear; }
    .sud:nth-child(34):before {
      animation: sway 2.30625s infinite ease-in-out;
      background: rgba(51, 245, 255, 0.5);
      box-shadow: 3px 3px 1.5375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(35) {
    left: 57%;
    height: 4.875vmin;
    width: 4.875vmin;
    animation: bubble-up 8.3125s 1.7s infinite linear; }
    .sud:nth-child(35):before {
      animation: sway 3.65625s infinite ease-in-out;
      background: rgba(51, 143, 255, 0.5);
      box-shadow: 3px 3px 2.4375vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(36) {
    left: 38%;
    height: 6.375vmin;
    width: 6.375vmin;
    animation: bubble-up 10.5625s 1.75s infinite linear; }
    .sud:nth-child(36):before {
      animation: sway 4.78125s infinite ease-in-out;
      background: rgba(51, 71, 255, 0.5);
      box-shadow: 3px 3px 3.1875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(37) {
    left: 15%;
    height: 0.45vmin;
    width: 0.45vmin;
    animation: bubble-up 1.675s 1.8s infinite linear; }
    .sud:nth-child(37):before {
      animation: sway 0.3375s infinite ease-in-out;
      background: rgba(255, 221, 51, 0.5);
      box-shadow: 3px 3px 0.225vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(38) {
    left: 45%;
    height: 6.3vmin;
    width: 6.3vmin;
    animation: bubble-up 10.45s 1.85s infinite linear; }
    .sud:nth-child(38):before {
      animation: sway 4.725s infinite ease-in-out;
      background: rgba(51, 71, 255, 0.5);
      box-shadow: 3px 3px 3.15vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(39) {
    left: 77%;
    height: 6.525vmin;
    width: 6.525vmin;
    animation: bubble-up 10.7875s 1.9s infinite linear; }
    .sud:nth-child(39):before {
      animation: sway 4.89375s infinite ease-in-out;
      background: rgba(51, 255, 119, 0.5);
      box-shadow: 3px 3px 3.2625vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(40) {
    left: 91%;
    height: 2.55vmin;
    width: 2.55vmin;
    animation: bubble-up 4.825s 1.95s infinite linear; }
    .sud:nth-child(40):before {
      animation: sway 1.9125s infinite ease-in-out;
      background: rgba(255, 109, 51, 0.5);
      box-shadow: 3px 3px 1.275vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(41) {
    left: 71%;
    height: 6.9vmin;
    width: 6.9vmin;
    animation: bubble-up 11.35s 2s infinite linear; }
    .sud:nth-child(41):before {
      animation: sway 5.175s infinite ease-in-out;
      background: rgba(255, 116, 51, 0.5);
      box-shadow: 3px 3px 3.45vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(42) {
    left: 26%;
    height: 6.225vmin;
    width: 6.225vmin;
    animation: bubble-up 10.3375s 2.05s infinite linear; }
    .sud:nth-child(42):before {
      animation: sway 4.66875s infinite ease-in-out;
      background: rgba(51, 255, 235, 0.5);
      box-shadow: 3px 3px 3.1125vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(43) {
    left: 76%;
    height: 3.6vmin;
    width: 3.6vmin;
    animation: bubble-up 6.4s 2.1s infinite linear; }
    .sud:nth-child(43):before {
      animation: sway 2.7s infinite ease-in-out;
      background: rgba(218, 255, 51, 0.5);
      box-shadow: 3px 3px 1.8vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(44) {
    left: 27%;
    height: 3.825vmin;
    width: 3.825vmin;
    animation: bubble-up 6.7375s 2.15s infinite linear; }
    .sud:nth-child(44):before {
      animation: sway 2.86875s infinite ease-in-out;
      background: rgba(255, 197, 51, 0.5);
      box-shadow: 3px 3px 1.9125vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(45) {
    left: 49%;
    height: 4.65vmin;
    width: 4.65vmin;
    animation: bubble-up 7.975s 2.2s infinite linear; }
    .sud:nth-child(45):before {
      animation: sway 3.4875s infinite ease-in-out;
      background: rgba(150, 255, 51, 0.5);
      box-shadow: 3px 3px 2.325vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(46) {
    left: 58%;
    height: 0.975vmin;
    width: 0.975vmin;
    animation: bubble-up 2.4625s 2.25s infinite linear; }
    .sud:nth-child(46):before {
      animation: sway 0.73125s infinite ease-in-out;
      background: rgba(255, 173, 51, 0.5);
      box-shadow: 3px 3px 0.4875vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(47) {
    left: 96%;
    height: 4.35vmin;
    width: 4.35vmin;
    animation: bubble-up 7.525s 2.3s infinite linear; }
    .sud:nth-child(47):before {
      animation: sway 3.2625s infinite ease-in-out;
      background: rgba(255, 153, 51, 0.5);
      box-shadow: 3px 3px 2.175vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(48) {
    left: 61%;
    height: 6.9vmin;
    width: 6.9vmin;
    animation: bubble-up 11.35s 2.35s infinite linear; }
    .sud:nth-child(48):before {
      animation: sway 5.175s infinite ease-in-out;
      background: rgba(99, 255, 51, 0.5);
      box-shadow: 3px 3px 3.45vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(49) {
    left: 29%;
    height: 0.225vmin;
    width: 0.225vmin;
    animation: bubble-up 1.3375s 2.4s infinite linear; }
    .sud:nth-child(49):before {
      animation: sway 0.16875s infinite ease-in-out;
      background: rgba(51, 54, 255, 0.5);
      box-shadow: 3px 3px 0.1125vmin rgba(0, 0, 0, 0.1); }
  .sud:nth-child(50) {
    left: 45%;
    height: 4.725vmin;
    width: 4.725vmin;
    animation: bubble-up 8.0875s 2.45s infinite linear; }
    .sud:nth-child(50):before {
      animation: sway 3.54375s infinite ease-in-out;
      background: rgba(51, 214, 255, 0.5);
      box-shadow: 3px 3px 2.3625vmin rgba(0, 0, 0, 0.1); }
  .sud:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: currentColor;
    border-radius: inherit;
    transform: translate(-100%, 0); }

@keyframes bubble-up {
  100% {
    transform: translate(0, calc(-100vh - 100%)); } }

@keyframes sway {
  50% {
    transform: translate(100%, 0); } }

/* ================
// Heading
// ============= */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 10vmin;
  font-weight: normal;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

/* ================
// Structure
// ============= */
html,
body {
  height: 100%; }

html {
  overflow: hidden;
  font-family: 'Sacramento';
  background: #aae;
  color: #fff; }
